<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>詳細・削除</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>詳細・削除</h1>

    <h2><span th:text="${shift.personName}"></span>さんのシフト</h2>

    <p>このシフトを削除しますか？</p>

    <form th:action="@{/shifts/delete}" method="post">
        <!--画面には表示されないがここでどのユーザーを削除するかサーバに送信している-->
        <input type="hidden" name="id" th:value="${shift.id}">
        <button type="submit">はい、削除します</button>
    </form>
    
    <br>
    <a href="/">一覧に戻る</a>

</body>
</html>